# Report

In [22]:
# Import pandas
import pandas as pd

In [23]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', sep=' ')

Compare the average income based on ethnicity.

In [24]:
print(df.groupby(['Ethnicity'])['Income'].mean(numeric_only=True))

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

The below calculation shows that on average **single** people have a higher balance

In [25]:
print(df.groupby(['Married'])['Balance'].mean(numeric_only=True))

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

Determine the highest and lowest income

In [26]:
print("The highest income in our dataset is", df.loc[:, "Income"].max())
print("The lowest income in our dataset is", df.loc[:, "Income"].min())

The highest income in our dataset is 186.634
The lowest income in our dataset is 10.354

We have the following number of cards in our dataset

In [27]:
df['Cards'].sum(axis=0,numeric_only=True)

1183

Count the number of females and males in the dataset

In [28]:
print("The number of females in our dataset is", df.groupby(['Gender']).count().iloc[0,0])
print("The number of males in our dataset is", df.groupby(['Gender']).count().iloc[1,0])

The number of females in our dataset is 207
The number of males in our dataset is 193